body,
html {
    margin: 0;
    padding: 0;
    overscroll-behavior-y: contain;
    touch-action: pan-y;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    position: relative;
    z-index: 1;
}
