$white: #ffffff;
$black: #000000;

$almost-black: #141414;
$almost-white: #fafafa;
$blue: #77c7eb;
$dark-blue: #58a1b8;
$green: #a3cd96;
$grey1: #cecece;
$grey2: #d9d9d9;
$grey3: #dedede;
$grey4: #eaeaea;
$grey5: #f3f2f2;
$orange: #ffc5a4;
$red: #df5548;
$violet-dark: #3a061e;
$violet-light: #5c0f32;
$violet: #410621;

$background-screen-default: $almost-white;
$white-text: $almost-white;
$primary-text: $violet;
$background-shape: $grey5;
